<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://unpkg.com/nes.css@0.0.2/css/nes.min.css" rel="stylesheet" />
		</head>
		<body>
			<nav>
  <section class="nes-container with-title">
      <h2 class="title"></h2>
      <div>
	        		<a href="/">
        <button type="button" class="nes-btn">Home</button>
</a>
		        	<a href="/about">
        <button type="button" class="nes-btn">About</button>
</a>
	        		<a href="/resume">
        <button type="button" class="nes-btn">Resume</button>
</a>
	        		<a href="/blog">
        <button type="button" class="nes-btn">Blog</button>
</a>
	        		<a href="/games">
        <button type="button" class="nes-btn">Games</button>
</a>
	        		<a href="/bikes">
        <button type="button" class="nes-btn">Bikes</button>
</a>
      </div>
    </section>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:michaeljosephpurdy@gmail.com">email</a></li>
	        		<li><a href="https://github.com/michaeljosephpurdy">github.com/michaeljosephpurdy</a></li>
				</ul>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-98827963-1','auto');ga('send','pageview');
        </script>
			</footer>
		</body>
	</html>

